/*ESTILOS PADRÃO PARA TODAS AS PÁGINAS*/

html {
    height:"100%";
}

.title {
    padding: 0 20px;
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
}

h1.title {
    margin: 40 auto 20px;
}

body {
    background-color: #1c0c3f;
    font-family: sans-serif;
    color: #fff;
    margin: 0;
}

.text-center {
    text-align: center;
}

.sub-title {
    margin: 0 20px;
}

