/* FORMA DE ESTILIZAÇÃO POR LINK (CLASS & ID)
.color-red {
    color:red;
}

.color-red ul li a {
    color:black;
}

#id-home {
    color:pink;
} 
*/

main h3.title {
    font-size: 1.1em;
}

main section abbr {
    color: #25cdb3;
}

.cover-container figure img {
    width: 100%;
}

.div {
    padding: 2% ;
}

@media screen and (min-width: 992px) {
    .div {
        padding: 2% 25% ;
    }

    .cover-container, .div {
        width: 45%;
        display: inline-block;
    }

    main .section-blockquote blockquote {
        width: 65%;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;

    }
}